
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-size: 14px;
}


/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.sub-menu {
  overflow: hidden;
  transition: height 300ms;
}

ul.Bullets_style {
  list-style-type: none; /* Remove the default bullets */
  padding-left: 20px; /* Adjust the padding as needed */
}

ul.Bullets_style li {
  position: relative; /* Position relative for the pseudo-element */
  margin-bottom: 8px; /* Space between list items */
}

ul.Bullets_style li::before {
  content: ''; /* No text content, just a shape */
  position: absolute;
  left: -25px; /* Position the bullet to the left of the text */
  top: 0; /* Adjust vertically to align with text */
  width: 18px; /* Set the width of the custom bullet */
  height: 18px; /* Set the height of the custom bullet */
  background-color: #E3F5FF; /* Set the color of the bullet */
  border-radius: 30%; /* Make it circular */

}

ul.style2 li::before {
 
  

  background-color: #bcc2c5!important; /* Set the color of the bullet */
  border-radius: 50%!important; /* Make it circular */

}



.SideNav{
  height: 750px;
  display: flex;
  flex-direction: column;
  width: 350px;
  background: #36536c;
  border-radius: 0px 20% 20% 0px;
  max-height: 100%;
  max-width: 100%;
  color: white;
  font-weight: 500;
}

.sideNavTop {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  /* border: 2px solid black; */
  align-items: center;
}

.SideNavMenu {
  display: flex;
  flex-direction: column;
  /* border: solid; */
  padding: 20px;
  box-sizing: border-box;
}

.SideNavMenu>ul{
color: white;


}

.SideNavMenu>ul li{

  padding: 20px;
}

.TopNav{

  width: 100%;
  height: 200px;
  border: black solid 1px;

}


.custom-tooltip {
  border: 3px dotted red;
  padding: 0px 10px;
}


/* //for check icon  */

input[type="checkbox"]:checked {
  background-color: #13181f; /* Tailwind's bg-gray-700 */
  border-color: #141a22; /* Tailwind's border-gray-800 */
}

input[type="checkbox"]:checked::after {
  content: '✔'; /* Unicode checkmark character */
  color: white;
  display: block;
  font-size: 14px;
  position: relative;
  top: -2px;
  left: 2px;
}
